<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0_0yu-jdaUioXQake_1LBYTexQPCGO3M</string>
	<key>GCM_SENDER_ID</key>
	<string>231676321900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tmh.flavor</string>
	<key>PROJECT_ID</key>
	<string>tmh-flavor</string>
	<key>STORAGE_BUCKET</key>
	<string>tmh-flavor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231676321900:ios:17da36b9b86e7833b13849</string>
</dict>
</plist>